.bgimg{
  background-image: url(images/bg14.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 860px;
}
.headerset{
  padding-top: 200px;
  box-sizing: border-box;
  width: 100%;
  height: 860px;
}
.headerset h1{
  font-size: 75px;
  color: white;
}
.headerset h2{
  font-size: 30px;
  color: white;
  padding-top: 80px;
}
.cta {
  background: linear-gradient(rgba(12, 13, 14, 0.8), rgba(12, 13, 14, 0.8)), url("images/bg4.jpg") fixed center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 50px;
}
.cta h3 {
  color: #FFc107;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cta p {
  color: #fff;
}
header{
  margin: 50px;
  margin-bottom: 130px;
}
header h2{
  font-size: 45px;
  color: #FFc107;
}
header .container .card{
  background-image: linear-gradient(to right, #1b2021, #424642, #536162, #56776c, rgba(0, 0, 0, 0.5));
}
header p.card-text{
  font-size: 19px;
}
header h4.card-title a{
  text-decoration: none;
  color: #fff;
}
header h4.card-title a:hover{
  color: #FFc107;
}
a{
	color: black;
}
section{
	margin-bottom: 100px;
}
section h2{
	color: black;
	text-transform: uppercase;
	font-size: 40px;
	padding-top: 5%;
}
section p{
	margin-top: 3%;
	font-size: 20px;
}
section .col-lg-3{
	margin-right: 50px;
}

